.container-fluid.bottom-split.fixed
  .row.big-bottom.big-top
    .navigation
      .col-md-2.col-md-offset-1.text-center
        = link_to "HOME", root_path
      .col-md-2.text-center
        = link_to "LOCATIONS", locations_path
      .col-md-2.text-center
        = link_to "SERVICES", services_path
      .col-md-2.text-center
        = link_to "CONTACT", contact_path
      .col-md-2.text-center
        = link_to "ABOUT", about_path


