!!!
%html
  %head
    %title Gameroom For President
    %link{ rel: 'stylesheet', href: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Raleway:400,200' }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{ src: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .container-fluid
      = yield
